// default stylish images
.layout-title h1
  &::before
    background-image url(../images/sky-stellar.jpg)

.layout-section-header::after
  background-image url(../images/constellation.jpg)

.layout-stripe .stripe
  background-image url(../images/stripe-forest.jpg)


// stylish images by class
.intro
  .layout-title h1::before
    background-image url(../images/cg-area-art.jpg)

  .conceitos-basicos.layout-section-header::after
    background-image url(../images/cg-area-games.jpg)
    animation movingbg-x 60s linear 0s infinite alternate-reverse

  .pixels-gradient.layout-section-header::after
    background-image url(../images/pixels-gradient.jpg)
    background-repeat repeat
    animation movingbg-x 20s ease-in-out 0s infinite alternate-reverse

  .rainbow-picture.layout-section-header::after
    background-image url(../images/rainbow-picture.jpg)
    animation movingbg-x 20s ease-in-out 0s infinite alternate-reverse

.opengl
  .layout-title
    background-color crimson
    h1
      color black
      text-shadow 0.025em 0.025em crimson
      &::before
        background-image url(../images/pusheen-window.gif)
        background-repeat no-repeat
        background-size 270px
        background-position 100%
        background-color #fcf0e4
    h2
      color white
      margin-right 1em

  .hello-world.layout-section-header::after
    background-image url(../images/pusheen-coding.gif)
    background-repeat no-repeat
    background-size 250px
    background-color #fcf0e4
    background-position 50%

  .window-system.layout-section-header::after
    background-image url(../images/pusheen-window2.gif)
    background-repeat no-repeat
    background-size 250px
    background-color #fcf0e4
    background-position 50%

.opengl-handson
  .layout-title
    h1
      &::before
        background-image url(../images/red-bricks.jpg)
        background-repeat no-repeat
        background-size contain
        background-color #f7f7f7
    h2
      background-color #333
      color white
      margin-right 1em

  .coordinate-system.layout-section-header::after
    background-image url(../images/coordinate-system.gif)
    background-repeat no-repeat
    background-size fit
    background-color #fcf0e4
    background-position 50%

  .clipping.layout-section-header::after
    background-image url(../images/clipping-plane-house.gif)
    background-repeat no-repeat
    background-size cover
    background-color #fcf0e4
    background-position 50%

  .colors.layout-section-header::after
    background-image url(../images/rgb-cube.gif)
    background-repeat no-repeat
    background-size contain
    background-color #808080
    background-position 50%

  .primitives.layout-section-header::after
    background-image url(../images/red-bricks.jpg)
    background-repeat no-repeat
    background-size contain
    background-color #f7f7f7
    background-position 50%

.opengl-handson2
  .layout-title
    background-color white
    h1
      color silver
      &::before
        background-image url(../images/ping-pong.gif)
        background-repeat no-repeat
        background-size contain
    h2
      background-color #333
      color white
      margin-right 1em

  .data-types.layout-section-header::after
    background-image url(../images/c-language-source-code.jpg)
    background-repeat no-repeat
    background-size fit
    background-position 0%

  .redrawing.layout-section-header::after
    background-image url(../images/single-double-triple-buffering.svg)
    background-repeat no-repeat
    background-size cover
    background-position 0%
    opacity 0.85

  .animation.layout-section-header::after
    background-image url(../images/ping-pong.gif)
    background-repeat no-repeat
    background-size cover
    background-color #808080
    background-position 50%

  .text.layout-section-header::after
    background-image url(../images/font-kerning.jpg)
    background-repeat no-repeat
    background-size contain
    background-color #fff
    background-position 50%

  .draw-order.layout-section-header::after
    background-image url(../images/algoritmo-do-pintor.png)
    background-repeat no-repeat
    background-size auto
    background-color #f7f7f7
    background-position 50%
    // animation movingbg-x 20s linear 0s infinite alternate-reverse


// animations
@keyframes movingbg-x
  from
    background-position 0 100%
  to
    background-position 100% 100%
