.layout-title h1
  &::before
    background-image url(../images/sky-stellar.jpg)

.layout-section-header::after
  background-image url(../images/constellation.jpg)

.layout-stripe .stripe
  background-image url(../images/stripe-forest.jpg)
