@import 'highlight.js/styles/monokai-sublime.css'

// variables
$page-header-height = 12vh
$meny-offset-top = 10px

// general tags
html, body
  height 100%
  overflow hidden

body
  perspective 800px
  perspective-origin 50% 0
  &.menu-open
    &> #page-header
      transform translate3d(0,0,0)
      transition transform 200ms ease-out

    &> #presentation-container
      transform-origin 50% 0%
      transform translateY($page-header-height) rotateX(-15deg)
      transform-style preserve-3d

      &:before
        background-image linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.65) 100%)

    .bespoke-progress-parent
      transform translateY(0)

.bullet.bullet.bullet-no-anim.bespoke-bullet-inactive
  transform none
  transition none

#page-header
  position fixed
  width 100%
  height $page-header-height
  padding 0
  transition transform 400ms ease-out
  -webkit-transform-origin 50% 0% 0px
  transform rotateX(30deg) translateY(-100%) translateY($meny-offset-top)
  z-index 1
  overflow hidden
  background-color rgb(255, 213, 213)


#page-title
  display inline-block
  height 10vh
  margin 0
  font-size 7vh
  vertical-align top

  &> a
    &:hover
      text-decoration none

    position relative
    color rgba(0,0,0,0.2)

    &:before
      color #b66c7e
      content attr(data-hover)
      position absolute
      transition transform 0.3s, opacity 0.3s

    &:hover:before
      opacity 0
      transform scale(0.98)

.bespoke-progress-parent
  transform translateY($meny-offset-top - 1)
  transition transform 200ms ease-out



#page-author
  display inline-block
  float right
  margin 8px

#page-author-name
  display none

.page-author-picture
  width 60px
  height 60px
  border-radius 30px

#presentation-container
  position relative
  height 100%
  transition all 400ms ease-out

  &:before
    content ''
    position absolute
    display: block
    left 0
    top 0
    bottom 0
    right 0
    z-index 1000
    pointer-events none
    -webkit-transition all 400ms ease-out
    transition transform 400ms ease-out
    background-image none
    will-change background-image

// background of the body
@media screen and (min-device-width: 640px)
  body
    background-image linear-gradient(328deg, #fff, #e8e8e8, #fff, #fcfcfc, #e1e1e1, #f4f4f4)
    background-size 800% 800%


// // bringing this from the theme, because with the use of markdown,
// // bespoke-scale can't calculate the sizes of slides properly
// .bespoke-slide
//   width 800px
//   height 600px

// only render the necessary slides: current, immediately after, immed. before (to improve performance)
.bespoke-slide.bespoke-inactive.bespoke-after:not(.bespoke-after-1):not(.bespoke-after-2)
  display none
.bespoke-slide.bespoke-inactive.bespoke-before:not(.bespoke-before-1):not(.bespoke-before-2)
  display none

// codeblocks opener styles
a[href^="codeblocks:"]
  &:before
    content ' '
    display inline-block
    width 16px
    height 16px
    background-image url(../images/icon-codeblocks.png)
    background-repeat no-repeat
    vertical-align middle
    margin-right 5px


@import utilities
@import book
@import tutorial
@import backdrops
@import layouts

// Print styles
@media print
  #page-header
    display none !important
  .book-cover
    height 150px !important
