
.picture-steps
  position relative
  & > *:not(:first-child)
    position absolute
    top 0
    left 0
  & > *
    &:not(.bespoke-bullet-active)
      transform initial
  &.clean
    & > *:not(:last-child):not(.bespoke-bullet-current)
      opacity 0

  .katex-display
    text-align left
  .bullet.math
  .bullet .math
    padding-top 1px

.inset-shadow
  position relative
  &:before,
  &:after
    content attr(title)
    position absolute
    color rgba(white, 0.1)
  &:before
    top 1px
    left 1px
  &:after
    top 2px
    left 2px


.layered-paragraph
  background-color rgba(215, 215, 250, 0.5);

.pure-red
  color #ff0000
.pure-green
  color #00ff00
.pure-blue
  color #0000ff

.color-portrait
  display inline-block
  width 20px
  height 20px
  border 1px solid black

  &.ffd5d5
    background-color #ffd5d5
  &.black
    background-color #000
  &.red
    background-color #f00
  &.green
    background-color #0f0
  &.blue
    background-color #00f
  &.yellow
    background-color #ff0
  &.magenta
    background-color #f0f
  &.ciano
    background-color #0ff
  &.gray
    background-color #777
  &.white
    background-color #fff


$portrait-size = 100px
.portrait,
.portrait img
  display inline-block
  width $portrait-size
  height $portrait-size
  border-radius ($portrait-size / 2)
  figcaption
    background-color transparent

.portrait.right
  float right

.appear-right
  position absolute
  left inherit
  bottom 100%
  transition bottom 200ms ease-out
  &.bespoke-bullet-active
    bottom 0
    left inherit
    right 0

.phong-vectors
  .reveal-on-complete
    opacity 0
    transition opacity 100ms ease-out
  &.complete
    .reveal-on-complete
      opacity 1

img[alt$="max"]
  max-width 100%
  max-height 100%

.subtly-round
  border-radius 8px

.inverted-text-colors
  background #333
  color #eee

.zoomable
  overflow hidden
  cursor zoom-in
  user-select no
  *
    user-select inherit
    transition: transform 300ms ease-out
    &.zoomed-in
      transform scale(12)

.gallery,
.gallery > p
  display flex
  flex-direction row
  img
    max-height 100%
    object-fit contain
    object-position center

.flex-equal > *
  flex 1

.fold-2
  perspective 400
  & > *:nth-child(1)
    transform rotateY( 4deg)  scale(0.95)
    transform-origin right top
  & > *:nth-child(2)
    transform rotateY(-4deg) scale(0.95)
    transform-origin left top

.smaller-text-80
  font-size 80%
.smaller-text-70
  font-size 70%

.surprise
  display inline-block
  transition all 200ms ease-in
  transform scale(1)
  &:not(.revealed)
    cursor pointer
    animation pulsating 1s ease-in-out 0s infinite alternate-reverse
  &.transitioning
    animation none
    transform scale(1) rotateZ(1turn)
  &.revealed
    transform scale(1) rotateZ(0turn)

@keyframes pulsating
  from
    transform scale(1) rotateZ(1turn)
  to
    transform scale(1.1) rotateZ(1turn)


.dl-6
  & > dt
    width 6em
  & > dd
    margin-left 6em
.dl-3
  & > dt
    width 3em
  & > dd
    margin-left 3em

.corner-bottom-right
  position absolute
  right 0
  bottom 0
